<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<h2>Tags</h2>
<ul>
<%= @item.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
